# temporary files
*~
# vim
.*.swp
# emacs
*.flc
\#*\#
.\#*
# xemacs
# MacOS
.DS_Store
# Windows
Thumbs.db

# python
*.pyc
*.pyo
__pycache__

# backup files
*.json

# datas or personal files
/data
/scripts
/*.sh

# tests
/.tests

# in case uncrustify.sh script fails, do not commit the temporary file
/files_to_uncrustify_delete_me.txt

# IDEs folders
*.qmlproject*
/nbproject
.idea
.cache
.nfs*

*.qmlc
