[submodule "dependencies/dependency_graph"]
	path = dependencies/dependency_graph
	url = https://github.com/poparteu/dependency_graph.git
[submodule "dependencies/fontawesome"]
	path = dependencies/fontawesome
	url = https://github.com/alicevision/fontawesome.pri.git
